.player {
    display: flex;
    align-items: center;

    background-color: rgba(231, 157, 29, 0.5);
    border-bottom-left-radius: 50px;
    border-top-left-radius: 50px;
    width: 300px;
    z-index: 1;
cursor: pointer;
    img {
        object-fit: cover;
        height: 50px;
        width: 50px;
        border-radius: 100%;
    }
    span {
        font-size: 32px;
        margin-left: 32px;
        height: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow-x: clip;
    }
    &:hover{
        filter: brightness(1.2);
    }
}

.player-active {
    background-color: orange !important;
   
}


@media (max-width: 720px) {
    .player {
        text-align: center;
        flex-direction: column-reverse;
        border-top-left-radius: 0px;
        border-bottom-right-radius: 50px;
        width: 100px;
        height: 100px;
        z-index: 2;


        span {
            font-size: 20px;
            margin-left: 0px;
            margin-bottom: 16px;
            margin-top: 16px;
            height: 100%;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow-x: clip;
            width:100px;
        }
    }
}
