<div class="scrollcontainer">
<app-player 

*ngFor="let players of game.players; let i =index;" 
(click)="editPlayer(i)"
[playerActive]="i == game.currentPlayer"
[ngStyle]="{'top.px':(i==game.currentPlayer)?30:100+(i * 70)}"




[name]="players" 
[profil]="game.playerPictures[i]"
class="player-position pc-hide">
</app-player>
</div>

<div class="scrollcontainer">
<app-player 

*ngFor="let players of game.players; let i =index;" 
(click)="editPlayer(i)"
[ngStyle]="{'left.px':30+(i * 130)}"
[playerActive]="i == game.currentPlayer"
[name]="players" 
class=" mobile-hide"
[profil]="game.playerPictures[i]">

</app-player>
</div>

<div class="field">

    <div class="card-stack">
        <img
        [ngStyle]="{'bottom.px':i*2}"
        *ngFor="let c of game.stack; let i = index;" 
        src="assets/img/card_cover.png" alt="">

        <img
        
        (click)="pickCard()"
        *ngIf="game.stack.length>=1"
        class="top-card"
        [ngStyle]="{'bottom.px':game.stack.length*2}"
      
        src="assets/img/card_cover.png" alt="">

        <img *ngFor="let card of game.playedCard" class="played-cards" src="assets/img/{{card}}.png" alt="">
    <img
      
        (click)="pickCard()"
        class="pick-card"
        [ngStyle]="{'bottom.px': game.stack.length*2}"
     
        *ngIf="game.pickCardAnimation"

        src="assets/img/{{game.currentCard}}.png" alt="">

      
    </div>


</div>

<button mat-fab color="primary" class="btn-add" (click)="openDialog()">
    <mat-icon>add</mat-icon>
  </button>

  <app-game-description  [card]="game.currentCard" class="game-info"></app-game-description>
<div class="game-over" *ngIf="game.stack.length===0">
  <h1 >Game Over</h1>
</div>