
.field {
    max-width: 100%;
    width: 100vw;
    height: 100vh;
   max-height:100%;
    background-image: url("/assets/img/board.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-stack {
    position: relative;
    img {
        position: absolute;
        width: 120px;
        ;
    }
}

.top-card{
    cursor: pointer;
    transition: 225ms;
    &:hover{
        transform: scale(1.05) translateY(-4px);

    }
}
.pick-card {
    
    position: absolute;
    animation: pick-card-animation 0.5s ease-in-out ;
    transform: scale(1.0) translateY(var(--move)) rotate(-17deg);
    
}


@keyframes pick-card-animation{
    0%{transform: scale(1.2) }
   
    50%{transform: scale(1.4) translateY(100px)}
    
    100%{transform: scale(1.0) translateY(var(--move)) rotate(-17deg) }
}

.played-cards{transform: scale(1.0) translateY(250px) rotate(-17deg);bottom: 32px;}




.player-position{
    position: absolute;
    right:0;
    z-index: 1;
}

.btn-add{
    position: absolute;
    bottom: 32px;
    right: 32px;
    z-index: 3;
}

.game-info{
    position: absolute;
    bottom: 5vh;
    left: 10vw;
    right: 120px;
    z-index: 2;
    
}

@media (max-width: 720px){
    .game-info{
        bottom: 0;
        left:0;
        right:0;


    }

    .card-stack {
        img{
            left:-15vw;
        }
    }
}

.player-position-mobile{
    position: absolute;
    top: 0;
    z-index: 1;
}
.scrollcontainer{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom:0;
    display: flex;
    overflow-y: scroll;
    overflow-x: hidden;
    
    app-player{
        margin-left: 8px;
    }
}
@media(max-width:720px){
    .scrollcontainer{
        overflow-y: hidden;
        overflow-x: scroll;
        
    }
}

.game-over{
    color:red;
    position: absolute;
    text-shadow: 3px 3px 5px black;
top: 0;
bottom:0;
left: 0;
right:0;
display: flex;
align-items: center;
justify-content: center;
    h1{

        font-size: 52px;
    }
}